.edit{
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 1px;
    margin-top: 3%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
